.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

.item {
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .item img {
    max-width: 100%;
    text-align: center;
  }

  .item .text {
    padding: 0 20px 20px;
  }